body{
    background-color: blueviolet;
}
h1{
    text-align: center;
    font-size: 50px;
    color: white;
}
p{
    text-align: center;
    font-size: 20px;
    color: black;
}
#imagem1
 width: 60%;
}